.grpm-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  background-image: url(../../assets/4931029.jpg);
  color: #fff;
}

.grpm-footer-content {
  font-style: italic;
  font-weight: bold;
  margin-top: 15px;
  color: black;
}
