.post-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.search-user-container {
  padding: 10px;
  border-top: 1px solid #dcdcde;
  border-bottom: 2px solid #dcdcde;
}

.message-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 550px;
}

.message-card {
  padding: 10px;
  border: 1px solid #dcdcde;
  margin: 10px 0;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #dcdcde;
}

.avatar-name {
  font-weight: bold;
  color: #fc930c;
}

.message-date {
  padding-bottom: 20px;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dcdcde;
  padding-top: 10px;
  margin-bottom: 10px;
}

.picture-container {
  display: flex;

  justify-content: center;
  padding: 15px;
}

.message-content {
  padding-bottom: 10px;
}

@media screen and (max-width: 1700px) {
  .message-card-container {
    margin: 0 400px;
  }
}

@media screen and (max-width: 1400px) {
  .message-card-container {
    margin: 0 300px;
  }
}

@media screen and (max-width: 1000px) {
  .message-card-container {
    margin: 0 200px;
  }
}

@media screen and (max-width: 800px) {
  .message-card-container {
    margin: 0 50px;
  }
}

@media screen and (max-width: 640px) {
  .message-card-container {
    margin: auto;
  }
}
