.grpm-header {
  display: flex;
  flex-direction: row;
  border-bottom: solid 3px #dcdcde;
  justify-content: space-between;
  background-image: url(../../assets/4931029.jpg);
}

.grpm-logo_1 {
  height: auto;
  width: 13em;
}
.img-logo-1 {
  height: auto;
  width: 100%;
}

.grpm-buttons-log {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*.button-profil {
  border: inherit;
  border-radius: 1.5em;
  box-shadow: 0.2em 0.2em 0.2em 0.2em #e6e6e6;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1.5em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
}*/

.icon-button-header {
}

.grpm-button-back {
  height: 40px;
}
