.post-message {
  border: 1px solid #dcdcde;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 5px 5px #dcdcde;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.post-message-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.input-title {
  padding-left: 10px;
  margin-right: 20px;
}

.input-file {
  margin-right: 20px;

  border: 1px solid #fc930c;
  height: 54px;
  border-radius: 4px;
}

.picture-name {
  padding: 5px;
  text-align: center;
  word-break: break-all;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.input-content {
  padding-right: 10px;
}

.button-publish {
  margin-bottom: 20px;
  width: 100px;
}
